*{  margin: 0;
   padding: 0;
   box-sizing:border-box;
}

body{
   background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif
}

.calculator{
   width: 470px;
   height: 680px;
   background-color: black;
   margin: 150px auto;
   border-radius: 20px;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.display{
   color: white;
   font-size: 70px;
   text-align: end;
   padding-top: 20px;
}

.buttons{
   display: flex;
   flex-wrap: wrap;
}

.button{
   border: none;
   border-radius: 50px;
   color: white;
   font-size: 30px;
   width: 22%;
   padding: 28px 30px;
   margin: 10px 6px;
   background-color: rgba(128, 128, 128, 0.372);
}

.zero-btn {
   padding: 30px 190px 26px 20px;
}

.btn-orange{
   background-color: orange;
}

.btn-gray{
   background-color: gray;
}